
<form  [formGroup]="employeeForm" (submit)="onSubmit()">
<table border="1">
  <tr>
    <td>EmployeeId: </td>
    <td><input type="text" name="employeeId" formControlName="id" required/></td>
  </tr>
  <tr>
    <td>First Name: </td>
    <td><input type="text" name="firstName" formControlName="firstname" required/></td>
  </tr>
  <tr>
    <td>Last Name: </td>
    <td><input type="text" name="lastName" formControlName="lastname" required/></td>
  </tr>
</table>
<button (click)="save()">Save</button>
</form>
<div> 
<button (click)="delete()">Delete</button>
<button (click)="display()"> Display</button>
</div>
<div>
  <table border="1">
    <tr>
      <th>employeeId</th>
      <th>firstName</th>
      <th>lastName</th>
    </tr>
    <tr *ngFor="let a of employeeArray">
      <td>{{a.id}}</td>
      <td>{{a.firstname}}</td>
      <td>{{a.lastname}}</td>
    </tr>
  </table>
</div>


<router-outlet></router-outlet>